.service {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
}

.service:hover .service-image {
    max-width:60%;
}

.service-item {
    padding: 15px 0;
}

.service-image {
    display: block;
    max-width: 80%;
    transition: 0.3s;
}

.service-item.inactive .service-image {
    filter: grayscale(100%);
    opacity: 0.2;
}

.service-item.active.available .service{
    background-color: green;
}

.service-item.active.unavailable .service{
    background-color: red;
}